<table>
    <form action="/Movie/deleteById" method="post">
     <tr>
         <td>Enter movie Id</td>
         <td>
             <input type="text" name="mid" id="mid" />
         </td>
     </tr>
     <tr>
         <td><button type="button">Delete Movie</button></td>
     </tr>
    </form>
</table>