<table>
    <form action="/Movie/getMovieByDirectorId" method="post">
    <tr>
        <td>Enter director Id</td>
        <td>
            <input type="text" name="mDirectorId" id="mDirectorId" />
        </td>
    </tr>
    <tr>
        <td><button type="button">Get Movie</button></td>
    </tr>
    </form>
</table>