<h5>Movie Home page</h5>
<ol>
    <li><a href="/Movie/insertMovie">Insert Movie</a></li>
    <li><a href="/Movie/getAllMovies">All movie list</a></li>
    <li><a href="/Movie/getMovieById">Get Movie By DirectorId</a></li>
    <li><a href="/Movie/deleteById">Delete Movie</a></li>
</ol>
