<form action="/Movie/insertMovie" method="post">
    <table>
        <tr>
            <td>Movie id</td>
            <td><input type="text" name="mId" id="mId" /></td>
        </tr>
        <tr>
            <td>Movie name</td>
            <td><input type="text" name="mName" id="mName" /></td>
        </tr>
        <tr>
            <td>Movie desc</td>
            <td><input type="text" name="mDescription" id="mDescription" /></td>
        </tr>
        <tr>
            <td>Movie director id</td>
            <td><input type="text" name="mDirectorId" id="mDirectorId" /></td>
        </tr>
        <tr>
            <td>Cast</td>
            <td><input type="text" name="cast" id="cast" /></td>
        </tr>
        <tr>
            <td>Duration in mins</td>
            <td><input type="text" name="mins" id="mins" /></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Insert</button>
            </td>
        </tr>
    </table>
</form>